img {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

 /* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
} 

#Header {
	border: solid 8px black;
	border-style: dotted;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-align: center;
}

#Header h1 { 
	font-size: 60px; 
	font-family: "Passion One"; 
	color: #FFBC00; 
	font-weight: bold; 
}

#LeftNav {
	border: solid 8px black;
	border-style: double;
	width: 400px;
	float: left;
	text-align: center;
	padding-bottom: 8px;
}

#Content {
	border: solid 8px black;
	border-radius: 8px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-align: center;
	padding: 15px;
	font-stretch: expanded;
}

p {
	font-weight: bold;
	color: white;
	font-family: "Arial";
}

#Footer {
	border: solid 8px black;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}



h3 {
	color: #FFBC00;
	font-size: 40px;
	font-family: "Passion One";
	margin-bottom: 0px;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

div	{
	background-color: #8E41D5;
}

body {
	background-image: url('dark_wood.png');
}

a {
	color: white;
	font-weight: bold;
	font-size: 24px;
}